<ion-view view-title="Category">
  <ion-content>
    <div class="row">
    <div class="col">
      <button class="button button-block icon ion-ios-box icon-left button-stable">Infrastructure and Storage</button>
    </div>
    <div class="col">
      <button class="button button-block icon ion-ios-locked icon-left button-stable">Data Protection and Availability</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="button button-block icon ion-monitor icon-left button-stable">Operating Model</button>
    </div>
    <div class="col">
      <button class="button button-block icon ion-cloud icon-left button-stable">Cloud</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="button button-block icon ion-ios-pie icon-left button-stable">Big Data</button>
    </div>
    <div class="col">
      <button class="button button-block icon ion-social-android icon-left button-stable">Applications</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="button button-block icon ion-person-add icon-left button-stable">Training and Certification</button>
    </div>
    <div class="col">
      <button class="button button-block icon ion-person-stalker icon-left button-stable">Customer Service</button>
    </div>
  </div>
  </ion-content>
</ion-view>
